<h1 style="padding:10px">
  URshortLs
</h1>

<% if(user){ %>
  <p style="padding:5px">User: <%= user.email %>
    <a href="/logout" style="padding:10px">
      <input type="submit" value="Logout">
    </a>
  </p>

<% } else { %>
  <a href="/login" style="padding:10px">
    <input type="submit" value="Login">
  </a>
  <a href="/register">
    <input type="submit" value="Register">
  </a>
<% } %>
