<h1>
  Your Short URLs
</h1>

<% if(user){ %>
  <a href="/logout">
    <input type="submit" value="Logout">
  </a>

<% } else { %>

  <a href="/login">
    <input type="submit" value="Login">
  </a>
  <a href="/register">
    <input type="submit" value="Register">
  </a>

<% } %>
